body {
    background-color: black;
}

#principal{
    background-color: black;
}
#cabesario {
    border: 5px solid rgb(255, 255, 255);
    width: 1500px;
    height: 150px;
    margin: 10px;
}

#segundo {
    border: 5px solid white ;
    width: 150px;
    height: 1100px;
    margin: 10px;
}

#terceiro {
    border: 5px solid white;
    height: 200px;
    width: 1300px;
    left: 14%;
    top: 23%;
    position: absolute;
    
    
    
}

#quarto {
    border: 5px solid white;
    height: 400px;
    width: 1300px;
    left: 14%;
    top: 52%;
    position: absolute;
    
}

h1 {
    color: aliceblue;
    text-align: center;

}